.ToDoTodayContainer{
    /* text-align: center; */
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 20%;
    height: 30 rem;
    opacity: .8;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    border-width: 1px;
    margin: 1.4%;
}
.ToDoMonthlyContainer{
    /* text-align: center; */
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 20%;
    height: 30 rem;
    opacity: .8;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    margin: 1.4%;
    border-width: 1px;
}
.ToDoWeeklyContainer{
    /* text-align: center; */
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 20%;
    height: 30 rem;
    opacity: .8;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    margin: 1.4%;
    border-width: 1px;
}

.ToDoYearlyContainer{
    /* text-align: center; */
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 20%;
    height: 30 rem;
    opacity: .8;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    margin: 1.4%;
    border-width: 1px;}

#toDoHeader{
    margin-top: 0px;
    margin-bottom: 0px;
}
.strike {
    text-decoration: line-through;
 }

 #todoData{
    margin-top: 0px;
 }
 
.completedTask{
    margin: 10px;
    background-color: pink;
    width: 50px;
}

#addButton{
    background-color: white;
    margin: 10px;
    width: 100px;
}

.ToDoform{
    background-color: pink;
    padding-left: 10px;
    padding-right: 10px;
}
