.ToDoTodayContainer{
    text-align: center;
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 40%;
    height: 30 rem;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    border-width: 1px;
    margin: 1.4%;
    margin-left: 5%;
    background-color: white;

}
.ToDoMonthlyContainer{
    text-align: center;
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 40%;
    height: 30 rem;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    margin: 1.4%;
    border-width: 1px;
    margin-left: 5%;
    background-color: white;


}
.ToDoWeeklyContainer{
    text-align: center;
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 40%;
    height: 30 rem;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    margin: 1.4%;
    border-width: 1px;
    margin-right: 5%;
    background-color: white;

}

.ToDoYearlyContainer{
    text-align: center;
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 40%;
    height: 30 rem;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    margin: 1.4%;
    background-color: white;
    border-width: 1px;}


.strike {
    text-decoration: line-through;
 }

 .todo{
    margin-top: 0px;
    padding-bottom: 10px;
 }
 
.completedTask{
    margin-left: 5%;
    background-color: pink;
    width: 60px;
}


#addButton{
    background-color: white;
    margin: 10px;
    width: 100px;
}

.ToDoform{
    background-color: rgb(207, 231, 241);
    padding-left: 10px;
    padding-right: 10px;
}

.toDos{
    background-image: url("https://i.imgur.com/K3okJrd.png");
    height: 825px;
}