.profileInformation{
    text-align: center;
    background-color: bisque;
    padding: 1rem;
    width: 25rem;
    height: 30 rem;
    opacity: .8;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    border-width: 1px;
    margin-left: 50%;
    transform: translate(-50%);
}


.header{
    background-color: bisque;
    margin-top: 10px;
    margin-left: 50%;
    width: 100%;
    transform: translate(-50%);
    text-align: center;
}

.profileImage{
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%);
}

.updateInfo{
    background-color: pink;
    margin-left: 10px;
}

.formProfile input{
    margin-top: 10px;
    text-align: center;
    width: 150px
}

.profileBtn{
    background-color: pink;
}
