.profileInformation{
    text-align: center;
    background-color: white;
    padding: 1rem;
    width: 25rem;
    height: 30 rem;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    border-width: 1px;
    color: black;
    float: left;
    margin-left: 13%;
    margin-right: 10%;
}


.header{
    background-color: #5A7184 ;
    margin-top: 0px;
    text-align: center;
    color: #D9D9D9;
}

.profileImage{
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%);
}
.page{
    background-size: cover;
    height: 800px;
}

.updateInfo{
    background-color: black;
    margin-left: 10px;
}

.formProfile input{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 150px;
}

.profileBtn{
    background-color: white;
}

.profileScores{
    text-align: center;
    background-color: white;
    padding: 1rem;
    width: 25rem;
    height: 30 rem;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    border-width: 1px;
    color: black;
    margin-right: 10px;
}

.profileScores h3{
    background-color: white;
}