#habitTracker{
    background: linear-gradient(bisque(252, 171, 183), rgb(248, 137, 156));
    padding: 1%;
    width: 40%;
    height: 30 rem;
    display: inline-grid;
    box-shadow: 2px 2px brown ;
    color: black;
    margin: 1.4%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: white;
}

.habitPage{
    background-image: url("https://i.imgur.com/K3okJrd.png");
    height: 825px;
}

.habit{
    margin: 0px;
}
.deleteHabit{
    background-color: pink;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.completeHabit{
    background-color: pink;
    float: right;
    margin-bottom: 10px;
    /* margin-right: 10px; */
    /* transform: translate(-10%) */
}

.ToDoform{
    text-align: center;
}

.strike{
    text-decoration: line-through;
    margin: 5px;
}

.notStriked{
    margin: 5px;
}

.resetBtn{
    background-color: pink;
    color: black;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
}



.bar{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: powderblue;
    border-style: solid;
    border-width: 4px;
    padding-top: .7%;
    box-shadow: 2px 2px rgb(60, 217, 238) ;


}

.noBar{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: pink;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px rgb(246, 102, 126) ;
    padding-top: .7%;
}


.habitScore{
    text-align: center;
    background-color: powderblue;
    width: 325px;
    padding: 5px;
    margin-left: 50%;
    transform: translate(-50%);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin-top: 30px;
}