.calendar-container{
   margin-left: 50%;
   transform: translate(-50%);
   padding-left: 12%;
}

.calendar{
    background-color: bisque;
    height: 500px;
}

.text-center{
    text-align: center;
}

.eventForm{
    text-align: center;
}

.event{
    text-align: center;
}

.eventButton{
    text-align: center;
    width: 100px;
    margin-left: 10px;
    background-color: pink;
}

