.puzzleImage{
    /* width: 500px; */
    /* height: 300px; */
   float: left;
   padding-left: 15%;
   margin-top: 3%;
   margin-right: 15%;
}

.puzzle{
    margin-left: 50%;
    transform: translate(-50%);
    height: 500px;
    padding-left: 15%;

}

.heading{
    text-align: center;
}

.newPuzzleBtn{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 5%;
    padding: 10px;
    background-color: pink;
}