.puzzleImage{
   float: left;
   /* padding-left: 15%;
   margin-top: 3%;
   margin-right: 25%;
   padding-top: 5%;
   margin-bottom: 0px; */
   margin-left: 10%;
   margin-bottom: 25px;
   height: 500px;
   padding: 20px;
   background-color: white;
}

.puzzle{
   height: 50px;
   width: 500px;
   float: right;
   margin-right: 10%;   
}
.score{
    text-align: center;
}
.heading{
    text-align: center;
}

.newPuzzleBtn{
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
    background-color: rgb(184, 230, 249);
    width: 300px;
    height: 50px;
}

.puzzleForm{
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: .7%;
    text-align: center;
    margin-bottom: 25px;
    background-color: white;
    width: 45%;
}


.puzzleForm input{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.score{
    margin-left: 50%;
    transform: translate(-50%);
}

.puzzlePage{
    background-color: coral;
    height: 825px;
}