.puzzleImage{
    /* width: 500px; */
    /* height: 300px; */
   float: left;
   padding-left: 15%;
   margin-top: 3%;
   margin-right: 25%;
   padding-top: 5%;
   margin-bottom: 0px;
}

.puzzle{
    margin-left: 50%;
    transform: translate(-50%);
    height: 300px;
    padding-left: 25%;
    padding-top: 5%;
    margin-bottom: 0px;
}

.heading{
    text-align: center;
}

.newPuzzleBtn{
    margin-left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color: pink;
}

.puzzleForm{
    text-align: center;
}


.puzzleForm input{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.score{
    margin-left: 50%;
    transform: translate(-50%);
}