 
.form{
    text-align: center;
    padding: 1rem;
    width: 25rem;
    height: 30 rem;
    display: inline-grid;
    color: white;
    opacity: 1;
    margin-left: 50%;    
    transform: translate(-50%);
    margin-top: 215px;
    border-style: solid;
    border-width: 2px;
}


.loginBody{
    background-image: url("https://i.imgur.com/KrOT732.png");
    height: 820px;
}


.form input{
    height: 25px;
    margin-top: 5px;

}


.login_buttons{
    background-color:rgb(75, 148, 177);
    color: white;
    text-align: center;
    height: 30px;
    margin-top: 5px;
}

.loginHeader{
    margin-bottom: 0px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    /* margin-top: 5px; */
    background-color: white;
    color: rgb(75, 148, 177);
    margin-top: 0;
    height: 50px;
    padding-top: 15px;
}
