 
.form{
    text-align: center;
    padding: 1rem;
    width: 25rem;
    height: 35 rem;
    display: inline-grid;
    color: white;
    opacity: 1;
    margin-left: 50%;    
    transform: translate(-50%);
    margin-top: 300px;
    border-style: solid;
    border-width: 2px;
}


.loginBody{
    background-image: url("https://i.imgur.com/KrOT732.png");
    height: 820px;
}


.form input{
    height: 25px;
    margin-top: 5px;

}


.login_buttons{
    background-color:red;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    height: 30px;
    margin-top: 5px;
}

.loginHeader{
    margin-bottom: 0px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    margin-top: 0;
    color: white;
    background-color: red;
    border-color: white;
}
