.account-form{
    text-align: center;
    padding: 2rem;
    width: 25rem;
    height: 30 rem;
    display: inline-grid;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 7%;
}

.accountHeader{
    border-style: solid;
    margin-top: 0;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: red;
}
.account-form label {
   background-color: white;
}

.account-form input {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 7px;
    color: red;
    border-style: solid;
    border-color: red;
    font-weight: bold;
}

.account-form-container{
    background-image: url("https://i.imgur.com/KrOT732.png");
    height: 820px;
}

.account_buttons{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    background-color: red;
    color: white;
    font-weight: bold;
}